<!DOCTYPE html>
<html lang="en">

<%- include('../Partes/head') %>


    <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
        <div class="wrapper">
            <%- include('../Partes/sidebar') %>
                <div class="main">
                    <%- include('../Partes/nav') %>

                        <main class="content">
                            <div class="container-fluid p-0">

                                <div class="row mb-2 mb-xl-3">
                                    <div class="col-auto d-none d-sm-block">
                                        <h3>Administradores</h3>
                                    </div>

                                    <div class="col-auto ms-auto text-end mt-n1">

                                        <div class="dropdown me-2 d-inline-block">
                                            <a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#"
                                                data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle mt-n1" data-feather="calendar"></i> Hoje
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <h6 class="dropdown-header">Definições</h6>
                                                <a class="dropdown-item" href="#">-----</a>
                                                <a class="dropdown-item" href="#">-----</a>
                                            </div>
                                        </div>

                                       
                                        
                                      
                                    </div>
                                </div>




                                <div class="card flex-fill">
                                    <div class="card-header">
                                        <div class="card-actions float-end">
                                            <div class="dropdown position-relative">
                                                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                                </a>

                                                <div class="dropdown-mnu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"></a>

                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-title mb-0">Admin do Digital</h5>
                                    </div>
                                    <table id="datatables-column-search-select-inputs" class="table table-striped"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID*</th>
                                                <th>Detalhes Atividade</th>
                                                <th>Horas</th>
                                                <th>Data*</th>
                                                <th>Acção</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% actividades.reverse().map(at=>{ %>
                                                <tr>
                                                    <td>
                                                        <%= at.idActividade %>
                                                    </td>
                                                    <td>
                                                        <%= at.detalheActividade%>
                                                    </td>

                                                    <td>
                                                        <%= at.horaActividade %>
                                                    </td>
                                                    <td>
                                                        <%= at.updatedAt %>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn btn-info dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                Info
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#">Ver</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#"onclick="confirmar( `<%= at.idActividade%>`)">Eliminar</a>
                                                           
                                                                 
                                                                
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <%}) %>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>ID*</th>
                                                <th>Detalhes Atividade</th>
                                                <th>Horas</th>
                                                <th>Data*</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </main>

                        <%- include('../Partes/footer') %>
                </div>
        </div>

        <script src="/Dash/js/app.js"></script>
        <script src="/sweetalert/sweetalert2.all.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                $('#datatables-column-search-select-inputs').DataTable({
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select class="form-control"><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });
                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            });
        </script>
        <script>
            function confirmar(id){
              
          Swal.fire({
            title: 'Queres Deletar Esta actividade ?',
          icon:'warning',
            showCancelButton: true,
            confirmButtonColor:'#3085d6',
            cancelButtonColor:'#d33',
            confirmButtonText: 'Confirmar',
          
          }).then((result) => {
            /* Read more about isConfirmed, isDenied below   */
            if (result.isConfirmed) {
          
             window.location = '/DeletarActividade/'+id;
            } else if (result.isDenied) {
              Swal.fire('Erro ao eliminar', '', 'info')
            }
          })
            }
            </script>
             <% if(errado.length >0) {%>
                <script>
            var Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
          })
          Toast.fire({
          icon: 'error',
          title: '<%=errado %>'
          })
                </script>
               
                <% }else if(certo.length >0) {%>
                  <script>
            
          const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
          })
          
          Toast.fire({
          icon: 'success',
          title: `<%= certo %>`
          })
                    
                  </script>
                  <% }%>

    </body>


    <!-- Mirrored from appstack.bootlab.io/dashboard-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:13 GMT -->

</html>