<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<%- include('./Partes/head') %>


    <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
        <div class="wrapper">
            <%- include('./Partes/sidebar') %>
                <div class="main">
                    <%- include('./Partes/nav') %>

                        <main class="content">
                            <div class="container-fluid p-0">

                                <div class="row mb-2 mb-xl-3">
                                    <div class="col-auto d-none d-sm-block">
                                        <h3>Historicos Clinicos</h3>
                                    </div>

                                    <div class="col-auto ms-auto text-end mt-n1">

                                        <div class="dropdown me-2 d-inline-block">
                                            <a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#"
                                                data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle mt-n1" data-feather="calendar"></i> Hoje
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <h6 class="dropdown-header">Definições</h6>
                                                <a class="dropdown-item" href="#">-----</a>
                                                <a class="dropdown-item" href="#">-----</a>
                                            </div>
                                        </div>


                                        <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal"
                                            data-bs-target="#sizedModalLg">
                                            Novo Cadastro
                                        </button>
                                        <div class="modal fade" id="sizedModalLg" tabindex="-1" role="dialog"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Historico Clinico</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body m-3">
                                                        <div class="card-body">
                                                            <form method="post" action="/NovoHistorico">
                                                               
                                                                <div class="row">
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputNome">Nome Paciente*</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputNome" placeholder="Nome" name="nomePaciente">
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Genero</label>
                                                                            <select name="sexoPaciente" id="" class="form-control">
                                                                                <option value="M">Masculino</option>
                                                                                <option value="F">Feminino</option>
                                                                            </select>
                                                                        
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Data Nascimento</label>
                                                                        <input type="date" class="form-control" required
                                                                            id="inputEmail4" placeholder="date" name="nascimentoPaciente">
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="row">
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputNome">Profissão*</label>
                                                                            <select name="profissaoPaciente" id="" class="form-control">
                                                                                <option value="Estudante"> Estudante</option>
                                                                                <option value="Outros">Outros ...</option>
                                                                            </select>
                                                                        
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Telefone</label>
                                                                        <input type="number" class="form-control"
                                                                            id="inputEmail4" placeholder="(+244)xxx.xxx.xxx" name="telefonePaciente">
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Nº Bilhete</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputEmail4" placeholder="123456789LA00" name="biPaciente">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputNome">Altura*</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputNome" placeholder="Altura..." name="alturaPaciente">
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Peso*</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputEmail4" placeholder="Peso" name="pesoPaciente">
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Remedio do Paciente</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputEmail4" placeholder="Remedios" name="remediosPaciente">
                                                                    </div>
                                                                </div>
                                                                
                                                             
                                                              
                                                               
                                                                <div class="row">
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputNome">Uso de Subs Toxica*</label>
                                                                         <select name="substToxicaPaciente" required class="form-control ">
                                                                            <option value="Sim">Sim</option>
                                                                            <option value="Nao">Não</option>
                                                                         </select>
                                                                       
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputNome">Provincia*</label>
                                                                            <select required class="form-control " name="provincia" id="slctprovincia" onchange="populate(this.id,'slctmunicipio')" autofocus>
								  
                                                                                <option disabled="disabled" selected="selected"> Escolha a província</option>
                                                                                <option value="luanda">Luanda</option>
                                                                                   <option value="benguela">Benguela</option>
                                                                                   <option value="bengo">Bengo</option>
                                                                                   <option value="bié">Bié</option>
                                                                                   <option value="cabinda">Cabinda</option>
                                                                                   <option value="cuando-cubango">Cuando-Cubango</option>
                                                                                   <option value="cuanza norte">Cuanza Norte</option>
                                                                                   <option value="cuanza sul">Cuanza Sul</option>
                                                                                   <option value="cunene">Cunene</option>
                                                                                   <option value="huambo">Huambo</option>
                                                                                   <option value="huíla">Huíla</option>
                                                                                   <option value="lunda norte">Lunda Norte</option>
                                                                                   <option value="lunda sul">Lunda Sul</option>
                                                                                   <option value="malange">Malange</option>
                                                                                   <option value="moxico">Moxico</option>
                                                                                   <option value="namibe">Namibe</option>
                                                                                   <option value="uíge">Uíge</option>
                                                                                   <option value="zaire">Zaire</option>
                                                                              
                                                                              </select>
                                                                    </div>
                                                                    <div class="mb-3 col-md-4">
                                                                        <label class="form-label"
                                                                            for="inputEmail4">Municipio*</label>
                                                                            <select autofocus required name="municipio" id="slctmunicipio" class="form-control"> <option disabled="disabled" selected="selected"> Escolha o municipio</option></select> 
                        
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="mb-3 col-md-12">
                                                                        <label class="form-label"
                                                                            for="inputNome">Endereço*</label>
                                                                        <input type="text" class="form-control"
                                                                            id="inputNome" placeholder="Endereço..." name="enderecoPaciente">
                                                                    </div>
                                                                   
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Registar Historico</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="card flex-fill">
                                    <div class="card-header">
                                        <div class="card-actions float-end">
                                            <div class="dropdown position-relative">
                                                <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                                </a>

                                                <div class="dropdown-mnu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#"></a>

                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-title mb-0">Tabela dos Historicos</h5>
                                    </div>
                                    <table id="datatables-column-search-select-inputs" class="table table-striped"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Genero</th>
                                                <th>BI*</th>
                                                <th>Telefone*</th>
                                                <th>altura</th>
                                                <th>Peso</th>
                                                <th>Data</th>
                                                <th>Hora</th>
                                                <th>Acção</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% historico.reverse().map(hist=>{ %>
                                                <tr>
                                                    <td>
                                                        <%= hist.nomePaciente %>
                                                    </td>
                                                    <td>
                                                        <%= hist.sexoPaciente %>
                                                    </td>

                                                    <td>
                                                        <%= hist.biPaciente %>
                                                    </td>
                                                    <td>
                                                        <%= hist.telefonePaciente %>
                                                    </td>

                                                    <td>
                                                        <%= hist.alturaPaciente %>
                                                    </td>
                                                    <td>
                                                        <%= hist.pesoPaciente %>
                                                    </td>
                                                    <td>
                                                        <%= hist.createdAt %>
                                                    </td>
                                                    <td>
                                                        <%= hist.horaHistorico %>
                                                    </td>

                                                    <td>
                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn btn-info dropdown-toggle"
                                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                Info
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="/HistoricosClinico1/<%=hist.idHistorico%>  %> ">Ver</a>
                                                              <a class="dropdown-item" href="#">editar</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#"onclick="confirmar( `<%= hist.idHistorico%>`)">Eliminar</a>
                                                       
                                                              



                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <%}) %>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Genero</th>
                                                <th>BI*</th>
                                                <th>Telefone*</th>
                                                <th>altura</th>
                                                <th>Peso</th>
                                                <th>Data</th>
                                                <th>Hora</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </main>

                        <%- include('./Partes/footer') %>
                </div>
        </div>

        <script src="/Dash/js/app.js"></script>
        <script src="/Dash/js/ApiProvincia-municipio.js"></script>
        <script src="/sweetalert/sweetalert2.all.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                $('#datatables-column-search-select-inputs').DataTable({
                    initComplete: function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var select = $('<select class="form-control"><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });
                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            });
        </script>
        <script>
            function confirmar(id) {

                Swal.fire({
                    title: 'Queres Deletar Este Historico ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar',

                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below   */
                    if (result.isConfirmed) {

                        window.location = '/DeletarHistorico/' + id;
                    } else if (result.isDenied) {
                        Swal.fire('Erro ao eliminar', '', 'info')
                    }
                })
            }
        </script>
        <% if(errado.length>0) {%>
            <script>
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({
                    icon: 'error',
                    title: '<%=errado %>'
                })
            </script>

            <% }else if(certo.length>0) {%>
                <script>

                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: `<%= certo %>`
                    })

                </script>
                <% }%>

    </body>


    <!-- Mirrored from appstack.bootlab.io/dashboard-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:13 GMT -->

</html>