<!DOCTYPE html>
<html lang="en">

<%- include('./Partes/head') %>

	<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
		<div class="wrapper">
			<%- include('./Partes/sidebar') %>
				<div class="main">
					<%- include('./Partes/nav') %>

						<main class="content">
							<div class="container-fluid p-0">

								<div class="row mb-2 mb-xl-3">
									<div class="col-auto d-none d-sm-block">
										<h3>Analise Geral</h3>
									</div>

									<div class="col-auto ms-auto text-end mt-n1">

										<div class="dropdown me-2 d-inline-block">
											<a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#"
												data-bs-toggle="dropdown" data-bs-display="static">
												<i class="align-middle mt-n1" data-feather="calendar"></i> Hoje
											</a>

											<div class="dropdown-menu dropdown-menu-end">
												<h6 class="dropdown-header">Definições</h6>
											</div>
										</div>

										<button class="btn btn-primary shadow-sm">
											<i class="align-middle" data-feather="filter">&nbsp;</i>
										</button>
										<button class="btn btn-primary shadow-sm">
											<i class="align-middle" data-feather="refresh-cw">&nbsp;</i>
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-xl-5 d-flex">
										<div class="w-100">

											<div class="row">
												<div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
													<div class="card illustration flex-fill">
														<div class="card-body p-0 d-flex flex-fill">
															<div class="row g-0 w-100">
																<div class="col-6">
																	<div class="illustration-text p-3 m-1">
																		<h4 class="illustration-text">Analise de dados
																		</h4>
																		<p class="mb-0"> Estatistica geral</p>
																	</div>
																</div>
																<div class="col-6 align-self-end text-end">
																	<img src="/Dash/img/illustrations/searching.png"
																		alt="Searching"
																		class="img-fluid illustration-img">
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
													<div class="card flex-fill">
														<div class="card-body">
															<div class="row">
																<div class="col mt-0">
																	<h5 class="card-title">Historicos </h5>
																</div>

																<div class="col-auto">
																	<div class="stat stat-sm">
																		<i class="align-middle"
																			data-feather="arrow-up-right"></i>
																	</div>
																</div>
															</div>
															<span class="h1 d-inline-block mt-1 mb-4"><%= historico.length%> </span>
															<div class="mb-0">
																<span class="badge badge-soft-success me-2"> +3.65%
																</span>
																<span class="text-muted">Ultima semana</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row d-lg-none d-xxl-flex">
												<div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
													<div class="card flex-fill">
														<div class="card-body">
															<div class="row">
																<div class="col mt-0">
																	<h5 class="card-title">Secção</h5>
																</div>

																<div class="col-auto">
																	<div class="stat stat-sm">
																		<i class="align-middle"
																			data-feather="clock"></i>
																	</div>
																</div>
															</div>
															<span class="h1 d-inline-block mt-1 mb-4">
																0

															</span>
															<div class="mb-0">
																<span class="badge badge-soft-success me-2"> +2.25%
																</span>
																<span class="text-muted">Ultima semana</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
													<div class="card flex-fill">
														<div class="card-body">
															<div class="row">
																<div class="col mt-0">
																	<h5 class="card-title">Acessos</h5>
																</div>

																<div class="col-auto">
																	<div class="stat stat-sm">
																		<i class="align-middle"
																			data-feather="users"></i>
																	</div>
																</div>
															</div>
															<span class="h1 d-inline-block mt-1 mb-4">0</span>
															<div class="mb-0">
																<span class="badge badge-soft-danger me-2"> -1.25%
																</span>
																<span class="text-muted">Ultima semana</span>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div class="col-lg-6 col-xl-7">
										<div class="card flex-fill w-100">
											<div class="card-header">
												<div class="card-actions float-end">
													<div class="dropdown position-relative">
														<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
															<i class="align-middle" data-feather="more-horizontal"></i>
														</a>

														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="#">Acção</a>

														</div>
													</div>
												</div>
												<h5 class="card-title mb-0">Languages</h5>
											</div>
											<table class="table table-striped my-0">
												<thead>
													<tr>
														<th>Language</th>
														<th class="text-end">Users</th>
														<th class="d-none d-xl-table-cell w-75">% Users</th>
													</tr>
												</thead>
												<tbody>
												
													<tr>
														<td>en-gb</td>
														<td class="text-end">223</td>
														<td class="d-none d-xl-table-cell">
															<div class="progress">
																<div class="progress-bar bg-primary" role="progressbar"
																	style="width: 27%;" aria-valuenow="27"
																	aria-valuemin="0" aria-valuemax="100">27%</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>fr-fr</td>
														<td class="text-end">181</td>
														<td class="d-none d-xl-table-cell">
															<div class="progress">
																<div class="progress-bar bg-primary" role="progressbar"
																	style="width: 22%;" aria-valuenow="22"
																	aria-valuemin="0" aria-valuemax="100">22%</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>es-es</td>
														<td class="text-end">132</td>
														<td class="d-none d-xl-table-cell">
															<div class="progress">
																<div class="progress-bar bg-primary" role="progressbar"
																	style="width: 16%;" aria-valuenow="16"
																	aria-valuemin="0" aria-valuemax="100">16%</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>de-de</td>
														<td class="text-end">118</td>
														<td class="d-none d-xl-table-cell">
															<div class="progress">
																<div class="progress-bar bg-primary" role="progressbar"
																	style="width: 15%;" aria-valuenow="15"
																	aria-valuemin="0" aria-valuemax="100">15%</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>ru-ru</td>
														<td class="text-end">98</td>
														<td class="d-none d-xl-table-cell">
															<div class="progress">
																<div class="progress-bar bg-primary" role="progressbar"
																	style="width: 13%;" aria-valuenow="13"
																	aria-valuemin="0" aria-valuemax="100">13%</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								

								<div class="row">
									<div class="col-12 col-lg-12 col-xl-12 d-flex">
										<div class="card flex-fill">
											<div class="card-header">
												<div class="card-actions float-end">
													<div class="dropdown position-relative">
														<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
															<i class="align-middle" data-feather="more-horizontal"></i>
														</a>

														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="#">Acção</a>

														</div>
													</div>
												</div>
												<h5 class="card-title mb-0">Meus Relatorios</h5>
											</div>
											<table id="datatables-dashboard-traffic" class="table table-striped my-0">
												<thead>
													<tr>
														<th>#</th>
														<th class="text-end">Internações</th>
														<th class="d-none d-xl-table-cell text-end">Criação</th>
														<th class="d-none d-xl-table-cell text-end">Atualização</th>
														<th class="d-none d-xl-table-cell text-end">Horas</th>
													</tr>
												</thead>
												<tbody>
													
													<% meusralatorios.reverse().map(m=>{ %>
													<tr>
														<td><%= m.idRelatorioE %></td>
														<td class="text-end"><%= m.internacoes %></td>
														<td class="d-none d-xl-table-cell text-end"><%= m.createdAt %></td>
														<td class="d-none d-xl-table-cell text-end text-success"><%= m.updatedAt %>
														</td>
														<td class="d-none d-xl-table-cell text-end"><%= m.hora %></td>
													</tr>
													<%}) %>
												</tbody>
											</table>
										</div>
									</div>
								</div>

							</div>
						</main>

                        <%- include('./Partes/footer') %> 
				</div>
		</div>

		<script src="/Dash/js/app.js"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Bar chart
				new Chart(document.getElementById("chartjs-dashboard-bar-devices"), {
					type: "bar",
					data: {
						labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
						datasets: [{
							label: "Mobile",
							backgroundColor: window.theme.primary,
							borderColor: window.theme.primary,
							hoverBackgroundColor: window.theme.primary,
							hoverBorderColor: window.theme.primary,
							data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
							barPercentage: .5,
							categoryPercentage: .5
						}, {
							label: "Desktop",
							backgroundColor: window.theme["primary-light"],
							borderColor: window.theme["primary-light"],
							hoverBackgroundColor: window.theme["primary-light"],
							hoverBorderColor: window.theme["primary-light"],
							data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
							barPercentage: .5,
							categoryPercentage: .5
						}]
					},
					options: {
						maintainAspectRatio: false,
						cornerRadius: 15,
						legend: {
							display: false
						},
						scales: {
							yAxes: [{
								gridLines: {
									display: false
								},
								ticks: {
									stepSize: 20
								},
								stacked: true,
							}],
							xAxes: [{
								gridLines: {
									color: "transparent"
								},
								stacked: true,
							}]
						}
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var markers = [{
					coords: [31.230391, 121.473701],
					name: "Shanghai"
				},
				{
					coords: [39.904202, 116.407394],
					name: "Beijing"
				},
				{
					coords: [28.704060, 77.102493],
					name: "Delhi"
				},
				{
					coords: [6.524379, 3.379206],
					name: "Lagos"
				},
				{
					coords: [39.343357, 117.361649],
					name: "Tianjin"
				},
				{
					coords: [24.860735, 67.001137],
					name: "Karachi"
				},
				{
					coords: [41.008240, 28.978359],
					name: "Istanbul"
				},
				{
					coords: [35.689487, 139.691711],
					name: "Tokyo"
				},
				{
					coords: [23.129110, 113.264381],
					name: "Guangzhou"
				},
				{
					coords: [19.075983, 72.877655],
					name: "Mumbai"
				},
				{
					coords: [40.7127837, -74.0059413],
					name: "New York"
				},
				{
					coords: [34.052235, -118.243683],
					name: "Los Angeles"
				},
				{
					coords: [41.878113, -87.629799],
					name: "Chicago"
				},
				{
					coords: [29.760427, -95.369804],
					name: "Houston"
				},
				{
					coords: [33.448376, -112.074036],
					name: "Phoenix"
				},
				{
					coords: [51.507351, -0.127758],
					name: "London"
				},
				{
					coords: [48.856613, 2.352222],
					name: "Paris"
				},
				{
					coords: [55.755825, 37.617298],
					name: "Moscow"
				},
				{
					coords: [40.416775, -3.703790],
					name: "Madrid"
				}
				];
				var map = new jsVectorMap({
					map: "world",
					selector: "#world_map",
					zoomButtons: true,
					markers: markers,
					markerStyle: {
						initial: {
							r: 9,
							stroke: window.theme.white,
							strokeWidth: 7,
							stokeOpacity: .4,
							fill: window.theme.primary
						},
						hover: {
							fill: window.theme.primary,
							stroke: window.theme.primary
						}
					},
					regionStyle: {
						initial: {
							fill: window.theme["gray-200"]
						}
					},
					zoomOnScroll: false
				});
				window.addEventListener("resize", () => {
					map.updateSize();
				});
				setTimeout(function () {
					map.updateSize();
				}, 250);
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Pie chart
				new Chart(document.getElementById("chartjs-dashboard-pie"), {
					type: "pie",
					data: {
						labels: ["Direct", "Affiliate", "E-mail", "Other"],
						datasets: [{
							data: [2602, 1253, 541, 1465],
							backgroundColor: [
								window.theme.primary,
								window.theme.warning,
								window.theme.danger,
								"#E8EAED"
							],
							borderWidth: 5,
							borderColor: window.theme.white
						}]
					},
					options: {
						responsive: !window.MSInputMethodContext,
						maintainAspectRatio: false,
						cutoutPercentage: 70,
						legend: {
							display: false
						}
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				// Radar chart
				new Chart(document.getElementById("chartjs-dashboard-radar"), {
					type: "radar",
					data: {
						labels: ["Technology", "Sports", "Media", "Gaming", "Arts"],
						datasets: [{
							label: "Interests",
							backgroundColor: "rgba(0, 123, 255, 0.2)",
							borderColor: "#2979ff",
							pointBackgroundColor: "#2979ff",
							pointBorderColor: "#fff",
							pointHoverBackgroundColor: "#fff",
							pointHoverBorderColor: "#2979ff",
							data: [70, 53, 82, 60, 33]
						}]
					},
					options: {
						maintainAspectRatio: false,
						legend: {
							display: false
						}
					}
				});
			});
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				$("#datatables-dashboard-traffic").DataTable({
					pageLength: 8,
					lengthChange: false,
					bFilter: false,
					autoWidth: false,
					order: [
						[1, "desc"]
					]
				});
			});
		</script>
			<script>
				document.addEventListener("DOMContentLoaded", function() {
					// Mixed chart
					var options = {
						chart: {
							height: 350,
							type: "line",
							stacked: false,
						},
						stroke: {
							width: [0, 2, 5],
							curve: "smooth"
						},
						plotOptions: {
							bar: {
								columnWidth: "50%"
							}
						},
						series: [{
							name: "TEAM A",
							type: "column",
							data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30]
						}, {
							name: "TEAM B",
							type: "area",
							data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43]
						}, {
							name: "TEAM C",
							type: "line",
							data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39]
						}],
						fill: {
							opacity: [0.85, 0.25, 1],
							gradient: {
								inverseColors: false,
								shade: "light",
								type: "vertical",
								opacityFrom: 0.85,
								opacityTo: 0.55,
								stops: [0, 100, 100, 100]
							}
						},
						labels: ["01/01/2003", "02/01/2003", "03/01/2003", "04/01/2003", "05/01/2003", "06/01/2003", "07/01/2003", "08/01/2003", "09/01/2003", "10/01/2003",
							"11/01/2003"
						],
						markers: {
							size: 0
						},
						xaxis: {
							type: "datetime"
						},
						yaxis: {
							title: {
								text: "Points",
							},
							min: 0
						},
						tooltip: {
							shared: true,
							intersect: false,
							y: {
								formatter: function(y) {
									if (typeof y !== "undefined") {
										return y.toFixed(0) + " points";
									}
									return y;
								}
							}
						}
					}
					var chart = new ApexCharts(
						document.querySelector("#apexcharts-mixed"), {
							chart: {
								height: 350,
								type: "line",
								stacked: false,
							},
							stroke: {
								width: [0, 2, 5],
								curve: "smooth"
							},
							plotOptions: {
								bar: {
									columnWidth: "50%"
								}
							},
							series: [{
								name: "TEAM A",
								type: "column",
								data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30]
							}, {
								name: "TEAM B",
								type: "area",
								data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43]
							}, {
								name: "TEAM C",
								type: "line",
								data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39]
							}],
							fill: {
								opacity: [0.85, 0.25, 1],
								gradient: {
									inverseColors: false,
									shade: "light",
									type: "vertical",
									opacityFrom: 0.85,
									opacityTo: 0.55,
									stops: [0, 100, 100, 100]
								}
							},
							labels: ["01/01/2003", "02/01/2003", "03/01/2003", "04/01/2003", "05/01/2003", "06/01/2003", "07/01/2003", "08/01/2003", "09/01/2003", "10/01/2003",
								"11/01/2003"
							],
							markers: {
								size: 0
							},
							xaxis: {
								type: "datetime"
							},
							yaxis: {
								title: {
									text: "Points",
								},
								min: 0
							},
							tooltip: {
								shared: true,
								intersect: false,
								y: {
									formatter: function(y) {
										if (typeof y !== "undefined") {
											return y.toFixed(0) + " points";
										}
										return y;
									}
								}
							}
						}
					);
					chart.render();
				});
			</script>

	</body>


	<!-- Mirrored from appstack.bootlab.io/dashboard-analytics.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Nov 2022 19:15:33 GMT -->

</html>